.liberty-details {
  display: flex;
  flex-direction: column;
  transition: height 225ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: content-box;

  &-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-block: 10px;
    padding-inline: 20px;
    &:focus,
    &:hover {
      outline: none;
    }
    &[aria-expanded="true"] {
      background-color: #A9A9A9;
    }
    &__fill {
      flex: 1 1 auto;
    }
    &__indicator {
      display: flex;
      height: 30px;
      width: 30px;
      justify-content: center;
      align-items: center;
      background-color: #FFD300;
    }
  }

  &-body {
    padding-block: 10px;
    padding-inline: 20px;
    overflow: hidden;
  }
}
